@model LearningManagementSystem.Data.Employee

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Identitynumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Identitynumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employeenumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employeenumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JopTypeNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JopTypeNavigation.Idjops)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rank)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rank.Idrank)
        </dd>
    </dl>
</div>
<div>
    <input type="submit" value="Create" class="btn btn-primary" />
    <a asp-action="Edit" asp-route-id="@Model.IdEmployees">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
