@model IEnumerable<LearningManagementSystem.Data.Unit>

@{
    ViewData["Title"] = "Index";
}

<h3>الوحدات</h3>

<p>
    <a asp-action="Create">إنشاء جديد</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                اسم الوحدة  
            </th>
            <th>
              رقم الوحدة
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UnitName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitNumber)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UnitId">التعديل</a> |
                <a asp-action="Details" asp-route-id="@item.UnitId">التفاصيل</a> |
                <a asp-action="Delete" asp-route-id="@item.UnitId">الحذف</a>
            </td>
        </tr>
}
    </tbody>
</table>
