@model IEnumerable<LearningManagementSystem.Data.EJob>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Job)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.IdEmployees)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Job.Idjops)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EJobsId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EJobsId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EJobsId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
