@model IEnumerable<LearningManagementSystem.Data.Course>

@{
    ViewData["Title"] = "Index";
}

<h3>الدورات</h3>

<p>
    <a asp-action="Create">اضافة جديد</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                رقم الدورة
            </th>
            <th>
                اسم الدورة
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CourseNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CourseId">تعديل</a> |
                <a asp-action="Details" asp-route-id="@item.CourseId">تفاصيل</a> |
                <a asp-action="Delete" asp-route-id="@item.CourseId">حذف</a>
            </td>
        </tr>
}
    </tbody>
</table>
