@model LearningManagementSystem.Data.ETransfer

@{
    ViewData["Title"] = "Delete";
}

<h1>حذف تنقل</h1>


<div>
   
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            الوحده المنقول اليها
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdEmployees)
        </dd>
        <dt class="col-sm-2">
            تاريخ التنقل
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TransferDate)
        </dd>
        <dt class="col-sm-2">
           الرقم الوظيفي
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdEmployeesNavigation.IdEmployees)
        </dd>
        <dt class="col-sm-2">
            التنقل
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transfer.TransferName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdTransfer" />
        <input type="submit" value="حذف" class="btn btn-danger" /> |
        <a asp-controller="Employees" asp-action="Details" asp-route-id="@Model.IdEmployees"><i class="bx bx-detail"></i>العودة لبيانات الموظف</a>
    </form>
</div>
