@model IEnumerable<LearningManagementSystem.Data.ETransfer>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
   @*  <a asp-action="Create">Create New</a> *@
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                نوع التنقل
            </th>
            <th>
                تاريخ التنقل
            </th>
            <th>
                الموظف
            </th>
            <th>
               من
            </th>
            <th>
                الى
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Transfer.TransferName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransferDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEmployeesNavigation.Name)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.FromUnitNavigation.UnitName)
            </td>
         <td>
                    @Html.DisplayFor(modelItem => item.ToUnitNavigation.UnitName)
         </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdTransfer">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdTransfer">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdTransfer">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
