@model IEnumerable<LearningManagementSystem.Data.EMedel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    @* <a asp-action="Create">Create New</a> *@
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                تاريخ الوسام أو النوط
            </th>
            <th>
                الاسم
            </th>
            <th>
               النوع
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateMedals)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdemployeesNavigation.IdEmployees)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Medals.Idmedels)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdeMedals">تعديل</a> |
                <a asp-action="Details" asp-route-id="@item.IdeMedals">تفاصيل</a> |
                <a asp-action="Delete" asp-route-id="@item.IdeMedals">حذف</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    <a asp-controller="Employees" asp-action="Index">العوده للقائمة السابقة</a>
    
</div>